<div class="content" ng-controller="VsController" id="VsController" ng-model="vs">
  <div class="header">
    <div class="stats">#parse("common/stats.htm")</div>
    <h1 class="page-title">www.dianping.com</h1>
  </div>
  #parse("common/breadcrumb.htm")
  <div class="container-fluid">
    <div class="row-fluid" style="min-height: 500px;">
     <button ng-click="save()" style="float:right;margin-top:10px" class="btn btn-primary">保存</button>
      <div style="margin: 0 auto; margin-top: 10px;" class="tabbable">
        <ul ng-model="selectedTab" class="nav nav-pills">
          <li ng-class="isActive('profile')"><a href="javascript:void(0);" ng-click="selectedTab='profile'">&nbsp;基本配置&nbsp;</a></li>
          <li ng-class="isActive('pool')"><a href="javascript:void(0);" ng-click="selectedTab='pool'">&nbsp;集群管理&nbsp;</a></li>
          <li ng-class="isActive('node')"><a href="javascript:void(0);" ng-click="selectedTab='node'">&nbsp;映射规则&nbsp;</a></li>
        </ul>
         <div id="alertMessageDiv" style="text-align: center;"></div>
         <hr>
        <div ng-switch on="selectedTab">
         <form class="form-horizontal" style="margin-top: 30px;">
          <div ng-switch-when="profile">#parse("/profile/content.htm")</div>
          <div ng-switch-when="pool">#parse("/pool/content.htm")</div>
          <div ng-switch-when="node">#parse("/node/content.htm")</div>
          </form>
        </div>
      </div>
      ##<tt>vs={{vs}}</tt><br/>
    </div>
    #parse("common/simplefooter.htm")
  </div>
</div>
