<div class="content" ng-init="editOrShow='${editOrShow}'" ng-app="MyApp" ng-controller="VsController" id="VsController">
  <div class="header">
    <div class="stats">#parse("common/stats.htm")</div>
    <h1 class="page-title">
      $virtualServerName&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-warning" ng-show="newVs"><i
        class=" icon-exclamation-sign"></i>&nbsp; 新建站点，请填写后保存。 </span>
    </h1>
  </div>
  #parse("common/breadcrumb.htm")
  <div class="container-fluid">
    <div class="row-fluid" style="min-height: 500px;">
      <a ng-show="editOrShow=='edit' && !newVs" ng-href="${contextPath}/{{vs.name}}" style="float: right; margin-left:20px;margin-top: 15px"
        class="btn">取消</a>
      <a ng-show="editOrShow=='edit' && newVs" ng-href="${contextPath}/" style="float: right; margin-left:20px;margin-top: 15px"
        class="btn">取消</a>
      <button ng-show="editOrShow=='edit'" ng-click="save()" style="float: right; margin-top: 15px"
        class="btn btn-primary">保存</button>
      <a ng-hide="editOrShow=='edit'" ng-href="${contextPath}/{{vs.name}}/edit" style="float: right; margin-right:20px;margin-top: 15px"
        class=""> <i class="icon-edit"></i> 编辑 </a>
      <div style="margin: 0 auto; margin-top: 15px;" class="tabbable">
        <ul ng-model="selectedTab" class="nav nav-pills">
          <li ng-class="isActive('profile')"><a href="#profile" ng-click="selectedTab='profile'">&nbsp;基本配置&nbsp;</a></li>
          <li ng-class="isActive('pool')"><a href="#pool" ng-click="selectedTab='pool'">&nbsp;集群管理&nbsp;</a></li>
          <li ng-class="isActive('location')"><a href="#location" ng-click="selectedTab='location'">&nbsp;映射规则&nbsp;</a></li>
        </ul>
        <div id="alertMessageDiv" style="text-align: center;"></div>
        <hr>
        <div ng-switch on="selectedTab">
          <form class="form-horizontal" style="margin-top: 30px;">
            <div ng-switch-when="profile" ng-controller="ProfileController">#parse("/profile/${editOrShow}/content.htm")</div>
            <div ng-switch-when="pool" ng-controller="PoolController">#parse("/pool/${editOrShow}/list.htm")</div>
            <div ng-switch-when="location" ng-controller="LocationController">#parse("/location/${editOrShow}/list.htm")</div>
          </form>
        </div>
      </div>
      <br />
    </div>
    #parse("common/simplefooter.htm")
  </div>
</div>
${editOrShow}
