
.deployBody {
	background: #fff;
	background-image:;
}

table.slb-datatable thead {
	color: #0073ea;
}

.my-progress-bar .progress {
	position: relative;
}

.my-progress-bar .progress>p {
	position: absolute;
}

div.modal h3, div.modal h4{
	text-align: center;
}