<div class="well">
  <div class="row">
    <div class="dropdown" style="float: right; margin-right: 40px">
      <a ng-click="save()" class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus"></i> 增加自定义参数<b
        class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li ng-repeat="(key,definedParam) in definedParamMap"><a ng-click="addItem(1)" tabindex="-1"
          href="javascript:void(0)">添加 {{ definedParam.name }}</a></li>
        <li><a tabindex="-1" href="javascript:void(0)"><i class="icon-pencil"></i> 自定义参数 </a></li>
      </ul>
    </div>
    <div class="span6">
      <div class="control-group">
        <label class="control-label">当前状态</label>
        <div class="controls">
          <label class="checkbox"> <span class="label label-important">{{ vs.state }}</span>
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">状态控制</label>
        <div class="controls">
          <label class="radio inline"> <input ng-model="vs.availability" type="radio" name="optionsRadios"
            id="optionsRadios1" value="OFFLINE"> OFFLINE
          </label> <label class="radio inline"> <input ng-model="vs.availability" type="radio" name="optionsRadios"
            id="optionsRadios2" value="AVAILABLE"> AVAILABLE
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">主机名</label>
        <div class="controls">
          <input type="text" ng-model="vs.domain" placeholder="domain">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">端口</label>
        <div class="controls">
          <input type="text" ng-model="vs.port" placeholder="domain">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">默认Pool名</label>
        <div class="controls">
          <input ng-model="vs.defaultPoolName" type="text" placeholder="pool">
        </div>
      </div>
    </div>
    <div class="span4" style="margin-top: 40px;">
      <div class="control-group" ng-repeat="(key, value) in vs.dynamicAttributes">
        <label class="control-label">{{ key }}</label>
        <div ng-show="getInputType(key) == 'SELECT'" class="controls" ng-init="initValueList(key)">
          <select ng-model="vs.dynamicAttributes[key]" ng-options="value0 for value0 in valueList"></select>
        </div>
        <div ng-show="getInputType(key) == 'TEXT'" class="controls" ng-init="initValueList(key)">
          <input ng-model="vs.dynamicAttributes[key]" type="text">
        </div>
        <div ng-show="getInputType(key) == 'RADIO'" class="controls" ng-init="initValueList(key)">
          <label ng-repeat="value0 in valueList" class="radio inline"> <input
            ng-model="vs.dynamicAttributes[key]" type="radio" name="{{ key }}" ng-value="value0"> {{ value0 }}
          </label>
        </div>
        <div ng-show="getInputType(key) == 'SELECT'" class="controls" ng-init="initValueList(key)">
          <label ng-repeat="value0 in valueList" class="checkbox inline"> <input type="checkbox"
            ng-model="vs.dynamicAttributes[key]" name="{{ key }}" ng-value="value0"> {{ value0 }}
          </label>
        </div>

      </div>
    </div>

  </div>

</div>

