<div class="well" ng-controller="ProfileController">
  <div class="row">
    <div class="dropdown" style="float: right; margin-right: 40px">
      <a ng-click="save()" class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus"></i> 增加自定义参数<b class="caret"></b></a>
      <ul ng-repeat-start="definedName in definedNameList" ng-repeat-end class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        
        <li><a tabindex="-1" href="#">添加 $definedName</a></li> 
        <li><a tabindex="-1" href="#"><i class="icon-pencil"></i> 自定义参数 </a></li>
      </ul>
    </div>
    <div class="span6">
      <form class="form-horizontal" style="margin-top: 30px;">
        <div class="control-group">
          <label class="control-label" for="inputPassword">当前状态</label>
          <div class="controls">
            <label class="checkbox"> <span class="label label-important">offline</span>
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">状态控制</label>
          <div class="controls">
            <label class="radio inline"> <input type="radio" name="optionsRadios" id="optionsRadios1"
              value="option1" checked> OFFLINE
            </label> <label class="radio inline"> <input type="radio" name="optionsRadios" id="optionsRadios2"
              value="option2"> AVAILABLE
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="">主机名</label>
          <div class="controls">
            <input type="text" placeholder="domain">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">端口</label>
          <div class="controls">
            <input type="text" placeholder="domain">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="">默认Pool名</label>
          <div class="controls">
            <input type="text" placeholder="pool">
          </div>
        </div>
      </form>
    </div>
    <div class="span3">

      <form class="form-horizontal" style="margin-top: 30px;">
        <div class="control-group">
          <label class="control-label" for="inputPassword">状态控制</label>
          <div class="controls">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>

