<div class="well">

  <form class="form-horizontal" style="margin-top: 30px;">
    <div class="control-group">
      <label class="control-label" for="inputPassword">当前状态</label>
      <div class="controls">
        <label class="checkbox"> <span class="label label-important">offline</span>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">状态控制</label>
      <div class="controls">
        <label class="radio inline"> <input type="radio" name="optionsRadios" id="optionsRadios1"
          value="option1" checked> OFFLINE
        </label> <label class="radio inline"> <input type="radio" name="optionsRadios" id="optionsRadios2"
          value="option2"> AVAILABLE
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">主机名</label>
      <div class="controls">
        <input type="text" placeholder="domain">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">端口</label>
      <div class="controls">
        <input type="text" placeholder="domain">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox"> <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn">Sign in</button>
      </div>
    </div>
  </form>

</div>

