<ul class="breadcrumb">
  <li class="active" style="color: #333333;">&nbsp;&nbsp;&nbsp;</li>#if($tabName=="profile")
  <li class="active">&nbsp;profile&nbsp;</li> #else
  <li><a href="${contextPath}/${virtualServerName}/profile"> &nbsp;profile&nbsp; </a></li> #end
  <span class="divider">|</span> #if($tabName=="pool")
  <li class="active">&nbsp;pool&nbsp;</li> #else
  <li><a href="${contextPath}/${virtualServerName}/pool"> &nbsp;pool&nbsp; </a></li> #end
  <span class="divider">|</span> #if($tabName=="node")
  <li class="active">&nbsp;node&nbsp;</li> #else
  <li><a href="${contextPath}/${virtualServerName}/node"> &nbsp;node&nbsp; </a></li> #end
  <span class="divider">|</span> #if($tabName=="template")
  <li class="active">&nbsp;template&nbsp;</li> #else
  <li><a href="${contextPath}/${virtualServerName}/template"> &nbsp;template&nbsp; </a></li> #end
</ul>
