<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 30px;">编号</th>
        <th>Name</th>
        <th>Address</th>
        <th style="width: 130px;">创建时间</th>
        <th style="width: 130px;">最近修改时间</th>
        <th style="width: 130px;">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr id="tr_1293018473">
        <td>1</td>
        <td><a href="#" target="_blank">abc</a></td>
        <td>10.2.4.88</td>
        <td>2013年10月10日，00点45分</td>
        <td>2013年10月10日，00点45分</td>
        <td><a
          onclick="javascript:;"
          href="javascript:;"><span class="label"> 编辑 </span></a>&nbsp;<a
          onclick="javascript:;"
          href="javascript:;"><span class="label">删除</span></a></td>
      </tr>
    </tbody>
  </table>
</div>
