#set($layout = "deployLayout.htm")
<div class="content" ng-init="editOrShow='${editOrShow}'" ng-app="MyApp" ng-controller="DeployController"
  id="DeployController">
  <div class="header">
    <div class="stats"></div>
    <h1 class="page-title">任务列表</h1>
  </div>
  #parse("common/breadcrumb.htm")
  <div class="container-fluid">
    <div class="row-fluid" style="min-height: 500px;">
      <div id="alertMessageDiv" style="text-align: center;"></div>
      <div class="" style="margin-top: 20px;float: right">
        - 第<span id="offerPageNum">$paginator.page</span>页 / 共<span id="offerTotalPage">$paginator.pages</span>页 -
      </div>
      <table style="margin-top: 48px;" class="table table-hover table-bordered" id="offerAdTable">
        <thead>
          <tr>
            <th>任务名</th>
            <th>发布策略</th>
            <th>错误处理策略</th>
            <th>是否自动</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="adList">
          #foreach($task in $list)
          <tr>
            <td>$task.name</td>
            <td>$task.deployPolicy.desc</td>
            <td>$task.errorPolicy.desc</td>
            <td>#if($task.autoContinue)自动 #else 手动#end</td>
            <td style=''>$task.status.desc</td>
            <td><a href="/deploy/$task.id" target="_blank"><span class="label label-success">&nbsp; 查看任务
              </span></a></td>
          </tr>
          #end
        </tbody>
      </table>

      #parse("deploy/paginator.htm")
    </div>
    #parse("common/simplefooter.htm")
  </div>
</div>
