#set($layout = "taskListLayout.htm")
<div class="content" ng-init="editOrShow='${editOrShow}'" ng-app="MyApp" ng-controller="TaskListController"
  id="TaskListController">
  <div class="header">
    <div class="stats"></div>
    <h1 class="page-title">任务列表</h1>
  </div>
  #parse("common/breadcrumb.htm")
  <div class="container-fluid">
    <div class="row-fluid" style="min-height: 500px;">
      <div id="alertMessageDiv" style="text-align: center;"></div>
      <div class="" style="margin-top: 20px; float: right">
        - 第<span id="offerPageNum">$paginator.page</span>页 / 共<span id="offerTotalPage">$paginator.pages</span>页 -
      </div>
      <a style="margin-top: 10px;" ng-click="addTaskModal()" href="javascript:void(0)" class="btn btn-primary"> 创建任务
      </a>
      <table style="margin-top: 10px;" class="table table-hover table-bordered" id="offerAdTable">
        <thead>
          <tr>
            <th>任务名</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="adList">
          #foreach($task in $list)
          <tr>
            <td>$task.name</td>
            <td style=''>$task.status.desc</td>
            <td><a href="${contextPath}/deploy/task/$task.id" target="_blank"><span class="label label-success">&nbsp;
                  查看任务 </span></a></td>
          </tr>
          #end
        </tbody>
      </table>

      #parse("deploy/paginator.htm")
    </div>
    #parse("common/simplefooter.htm")
  </div>

  #parse("deploy/modals.htm")
</div>
