#set($layout = "taskListLayout.htm")
<div class="content" ng-init="editOrShow='${editOrShow}'" ng-app="MyApp" ng-controller="TaskListController"
  id="TaskListController">
  <div class="header">
    <div class="stats"></div>
    <h1 class="page-title">任务列表</h1>
  </div>
  #parse("common/breadcrumb.htm")
  <div class="container-fluid">
    <div class="row-fluid" style="min-height: 500px;">
      <div id="alertMessageDiv" style="text-align: center;"></div>
      <div class="" style="margin-top: 20px; float: right">
        - 第<span id="offerPageNum">$paginator.page</span>页 / 共<span id="offerTotalPage">$paginator.pages</span>页 -
      </div>
      <a style="margin-top: 10px;" ng-click="addTaskModal()" href="javascript:void(0)" class="btn btn-primary"> 创建任务
      </a>
      <table style="margin-top: 10px;" class="table table-hover table-bordered" id="offerAdTable">
        <thead>
          <tr>
            <th>任务名</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="adList">
          #foreach($task in $list)
          <tr>
            <td>$task.name</td>
            <td style=''>$task.status.desc</td>
            <td><a href="/deploy/task/$task.id" target="_blank"><span class="label label-success">&nbsp;
                  查看任务 </span></a></td>
          </tr>
          #end
        </tbody>
      </table>

      #parse("deploy/paginator.htm")
    </div>
    #parse("common/simplefooter.htm")
  </div>

  <!-- 添加任务 -->
  <div aria-hidden="true" role="dialog" class="modal hide" id="addTaskModal" style="width: 400px; margin: 0 0 0 0;">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
      <h3>添加任务</h3>
    </div>
    <div class="modal-body" style="margin: 0 auto;">
      <div id="addTaskAlertDiv"></div>
      <form class="form-horizontal ng-pristine ng-valid" style="margin-top: 30px;">
        <div class="control-group">
          <label class="control-label" for="">任务名</label>
          <div class="controls">
            <input ng-trim="true" type="text" ng-model="newTask.taskName" placeholder="输入任务名" class="ng-pristine ng-valid">
          </div>
        </div>
      </form>
      <a style="float: right; margin-bottom: 10px;" ng-click="addVsAndTag()" href="javascript:void(0)"> 添加站点 </a>
      <form class="form-horizontal">
        <table style="margin-top: 0px;" class="slb-datatable table table-bordered table-condensed lion">
          <thead>
            <tr>
              <th style="width: 46%;">站点名</th>
              <th style="width: 46%;">发布版本</th>
              <th style="width: 8%;">移除</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="selectedVsAndTag in newTask.selectedVsAndTags">
              <td><select ng-model="selectedVsAndTag.vsName" ng-change="getTags(selectedVsAndTag.vsName)"
                ng-options="vs.name as vs.name for vs in vsList"><option value="" class="">-- 选择站点 --</option></select></td>
              <td><select ng-model="selectedVsAndTag.tag"
                ng-options="tag for tag in vs2Tags[selectedVsAndTag.vsName]"><option value="" class="">--
                    选择发布版本 --</option>
              </select></td>
              <td><a href="javascript:;" ng-click="newTask.selectedVsAndTags.splice($index,1)"><i class="icon-remove"></i></a></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" ng-click="addTask()" class="btn btn-primary">确定</button>
      <button type="button" data-dismiss="modal" class="btn">取消</button>
    </div>
  </div>
</div>
