<p class="stat" ng-show="editOrShow=='show'">
  <a ng-href="${contextPath}/deploy#showInfluencing:{{vs.name}}&{{tags[0]}}" target="_blank"><span style="color: #6c7a95" class="number"><i
      class="icon-external-link"></i> 发布</span></a>
</p>
<p class="stat" ng-show="editOrShow=='show'">
  <a ng-hide="addingTag" href="javascript:;" ng-click="addTag();" target="_blank"><span style="color: #6c7a95" class="number"><i
      class="icon-tag"></i> 创建发布版本</span></a>
  <a ng-show="addingTag" href="javascript:;" ><span style="color: #6c7a95" class="number"><img src="${contextPath}/static/img/spinner.gif"> 正在创建...</span></a>
</p>
<p class="stat">
  <a href="javascript:;" ng-click="preview()" title="预览当前生成的 nginx config 文件"><span style="color: #6c7a95"
    class="number"><i class="icon-eye-open"></i> 预览</span></a>
</p>
