<div ng-show="pool">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-4 control-label no-padding-right">集群名</label>
      <div class="col-sm-7">
        <input disabled class="" value="{{pool.name}}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label no-padding-right" for="inputPassword">负载均衡策略</label>
      <div class="col-sm-7">
        <select class="span2" ng-model="pool.loadbalanceStrategyName"
          ng-options="item.name as item.name for item in strategies">
          <option value="">-- 选择策略 --</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label no-padding-right" for="inputEmail">最小活动节点占比</label>
      <div class="col-sm-7">
        <div class="input-append">
          <input ng-trim="true" class="" ng-model="pool.minAvailableMemberPercentage" type="text"
            placeholder="输入1-100的数值"> <span class="add-on">%</span>
        </div>
      </div>
    </div>
    <br> <a style="float: right; margin-right: 30px;" ng-click="addMember();" href="javascript:;"> <i
      class="icon-plus"></i> 添加新节点
    </a>
    <h5 style="margin-top: 0px">集群节点管理</h5>
    <table class="table table-bordered" style="width: 100%">
      <thead>
        <tr>
          <th style="min-width: 120px">节点名称</th>
          <th>IP</th>
          <th>端口</th>
          <th>权重</th>
          <th>最大失败次数</th>
          <th>失败超时时间</th>
          <th>状态</th>
          <th style="width: 130px;">状态控制</th>
          <th style="">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in pool.members">
          <td><input ng-trim="true" class="input-small" ng-model="member.name" type="text"></td>
          <td><input ng-trim="true" class="input-small" ng-model="member.ip" type="text"></td>
          <td><input ng-trim="true" class="input-mini" ng-model="member.port" type="text"></td>
          <td><input ng-trim="true" class="input-mini" ng-model="member.weight" type="text"></td>
          <td><input ng-trim="true" class="input-mini" ng-model="member.maxFails" type="text"></td>
          <td><input ng-trim="true" class="input-mini" ng-model="member.failTimeout" type="text"></td>
          <td><label class="radio inline"> <input ng-model="member.state" type="radio" value="ENABLED">
              ENABLED
          </label> <label class="radio inline"> <input ng-model="member.state" type="radio" value="DISABLED">
              DISABLED
          </label> <label class="radio inline"> <input ng-model="member.state" type="radio" value="FORCED_OFFLINE">
              FORCED_OFFLINE
          </label></td>
          <td><label class="radio inline"> <input ng-model="member.availability" type="radio"
              value="AVAILABLE"> AVAILABLE
          </label><label class="radio inline"> <input ng-model="member.availability" type="radio" value="OFFLINE">
              OFFLINE
          </label></td>
          <td><a href="javascript:void(0);" ng-click="affirmRemoveMemberModal($index);"><span
              class='removeIcon'></span> 删除 </a></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<!-- 确认删除member的对话框 -->
<div aria-hidden="true" data-backdrop="true" role="dialog" tabindex="-1" class="modal hide" id="affirmRemoveMemberModal"
  style="display: none;">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h3>确认操作</h3>
  </div>
  <div class="modal-body">
    <p style="text-align: center;">
      <i class="icon-warning-sign"></i> 您是否确定要删除该节点 <span>{{memberToBeRemove.name}}</span> ？
    </p>
  </div>
  <div class="modal-footer">
    <button ng-click="removeMember();" class="btn btn-primary">确定</button>
    <button data-dismiss="modal" class="btn">取消</button>
  </div>
</div>
