<div class="row">
  <div class="span5">
    <div class="control-group">
      <label class="control-label">当前状态</label>
      <div class="controls">
        <label class="checkbox"> <span class="label label-important">{{ getVsState() }}</span>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">状态控制</label>
      <div class="controls">
        <label class="radio inline"> <input disabled ng-model="vs.state" type="radio" value="ENABLED">
          ENABLED
        </label> <label class="radio inline"> <input disabled ng-model="vs.state" type="radio" value="DISABLED">
          DISABLED
        </label> <label class="radio inline"> <input disabled ng-model="vs.state" type="radio" value="FORCED_OFFLINE">
          FORCED_OFFLINE
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">可用性控制</label>
      <div class="controls">
        <label class="radio inline"> <input disabled ng-model="vs.availability" type="radio" value="AVAILABLE">
          AVAILABLE
        </label> <label class="radio inline"> <input disabled ng-model="vs.availability" type="radio" value="OFFLINE">
          OFFLINE
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">域名</label>
      <div class="controls">
        <input disabled type="text" ng-model="vs.domain" placeholder="domain">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">端口</label>
      <div class="controls">
        <input disabled type="text" ng-model="vs.port" placeholder="domain">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">默认Pool名</label>
      <div class="controls">
        <select disabled ng-model="vs.defaultPoolName" ng-options="pool.name as pool.name for pool in vs.pools"></select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">目标nginx机器ip</label>
      <div class="controls" style="margin-bottom: 10px" ng-repeat="instance in vs.instances">
        <input class="input-small" disabled ng-model="instance.ip" type="text">
      </div>
    </div>
  </div>
  <div class="span6" style="margin-top: 0px; border-left: 1px solid #ddd;">
    <div class="control-group" ng-repeat="(key, value) in vs.dynamicAttributes" ng-init="valueList = getValueList(key)">
      <label class="control-label">{{ key }}</label>
      <div ng-show="getInputType(key) == 'SELECT'" class="controls">
        <select disabled ng-model="vs.dynamicAttributes[key]" ng-options="value0 for value0 in valueList"></select>
      </div>
      <div ng-show="getInputType(key) == 'TEXT'" class="controls">
        <input disabled ng-model="vs.dynamicAttributes[key]" type="text">
      </div>
    </div>
  </div>
</div>

<!-- 输入key -->
<div aria-hidden="true" role="dialog" class="modal hide" id="addParamModal" style="display: none;">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h3>添加自定义参数</h3>
  </div>
  <div class="modal-body">
    <div id="addParamAlertDiv"></div>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">参数名</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"></span><input id="addParamKey" ng-enter="addNewDynamicAttribute()" type="text"
              class="input-small" placeholder="">
          </div>
          <span class="muted">（必填）</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">参数值</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"></span><input id="addParamValue" ng-enter="addNewDynamicAttribute()" type="text"
              class="input-small" placeholder="">
          </div>
          <span class="muted">（可稍后再填）</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="addNewDynamicAttribute()" class="btn btn-primary">确定</button>
    <button type="button" data-dismiss="modal" class="btn">取消</button>
  </div>
</div>