<!DOCTYPE html>
<html lang="zh-cn">
<head>#parse("common/header.htm")
</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="navbar-fixed">
  <!--<![endif]-->

  #parse("common/navbar.htm") #parse("common/sidebar.htm") $screen_content #parse("common/baseJs.htm")

  <script type="text/javascript" src="${contextPath}/static/js/myangular-pool.js?t=20130623"></script>


  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="${contextPath}/static/js/html5.js"></script>
   <![endif]-->
  <script type="text/javascript">
			$("[rel=tooltip]").tooltip();
			$(document).ready(
					function() {
						angular.element($('#PoolController')).scope().getPool(
								'${poolName}');
					});
		</script>


  #parse("common/modals.htm")
</body>
</html>