<!DOCTYPE html>
<html lang="zh-cn">
<head>
#parse("common/header.htm")
<!-- <link rel="stylesheet" type="text/css"
  href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
  href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css">
   -->
<link rel="stylesheet" type="text/css" href="${contextPath}/static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/static/css/jquery.dataTables_themeroller.css">

</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="navbar-fixed">
  <!--<![endif]-->

  #parse("common/navbar.htm") $screen_content #parse("common/baseJs.htm")

  <script type="text/javascript" src="${contextPath}/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="${contextPath}/static/js/myangular-task.js?t=20130623"></script>

  <script type="text/javascript">
			$("[rel=tooltip]").tooltip();
			$(document).ready(
					function() {
						//$('table[slb-datatable]').dataTable();
						var navtable = $("table.slb-datatable").dataTable({
							"bFilter" : false,
							"bInfo" : false,
							"bLengthChange" : false,
							"bPaginate" : false,
							"aoColumns" : [ {
								"bSortable" : false
							}, null, {
								"bSortable" : false
							}, null, {
								"bSortable" : false
							}, null, {
								"bSortable" : false
							} ]
						});
						//navtable.fnSort([ [ 3, 'asc' ] ]);
						angular.element($('#TaskController')).scope().getTask(
								'${deployTaskId}');
					});
		</script>


  #parse("common/modals.htm")
</body>
</html>