<!DOCTYPE html>
<html lang="zh-cn">
<head>#parse("common/header.htm")
</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="navbar-fixed">
  <!--<![endif]-->

  #parse("common/navbar.htm") #parse("common/sidebar_deploy.htm") $screen_content #parse("common/baseJs.htm")

  <script type="text/javascript" src="${contextPath}/static/js/myangular-taskList.js?t=20130623"></script>

  <script type="text/javascript">
                $("[rel=tooltip]").tooltip();
                $(document).ready(function() {
                	##parse("${tabName}/initJs.htm")
                });
               </script>


  #parse("common/modals.htm")
</body>
</html>