<span style="font-size: 12px;">所在位置：<a href="javascript:;" ng-click="switchLocationList();">所有规则</a> &nbsp;&nbsp;<span
  ng-show="locationEditing">/ &nbsp;&nbsp; 规则（{{locationEditing.pattern}}）</span>
</span>
<div  ng-hide="locationEditing">
  <a style="float: right; margin-right: 30px;" href="javascript:;" ng-click="openAddLocationModal()"> <i
    class="icon-plus"></i> 添加新规则
  </a>
  <h5 style="margin-top: 30px">规则列表</h5>
  <table class="table table-bordered" style="width: 80%">
    <thead>
      <tr>
        <th>路径/正则表达式</th>
        <th>匹配类型</th>
        <!-- <th>集群名</th>  -->
        <th>大小写敏感</th>
        <th style="width: 130px;">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="location in vs.locations">
        <td>{{location.pattern}}</td>
        <td>{{location.matchType}}</td>
        <!-- <td>{{location.domain}}</td>  -->
        <td><span ng-show="location.caseSensitive">是</span><span ng-hide="location.caseSensitive">否</span></td>
        <td><a href="javascript:void(0);" ng-click="switchLocation($index);"><i class="icon-edit"></i>
            详细 </a>&nbsp;&nbsp;<a href="javascript:void(0);"
          ng-click="affirmRemoveLocationModal($index);">删除</a></td>
      </tr>
    </tbody>
  </table>
</div>

#parse("location/detail.htm")

<!-- 添加规则 -->
<div aria-hidden="true" role="dialog" class="modal hide" id="addLocationModal" style="display: none;">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h3>添加新规则</h3>
  </div>
  <div class="modal-body">
    <h6 style="text-align: center;">此处填写基本的信息，详细规则的信息，可以在添加规则后，点击"编辑"进行详细补充。</h6>
    <br>
    <div id="addLocationAlertDiv"></div>
    <form class="form-horizontal">
      <!-- <div class="control-group">
        <label class="control-label" for="">集群名</label>
        <div class="controls">
          <select ng-model="locationToBeAdd.domain" ng-options="pool.name as pool.name for pool in vs.pools"></select>
        </div>
      </div>  -->
      <div class="control-group">
        <label class="control-label">匹配类型</label>
        <div class="controls">
          <select ng-model="locationToBeAdd.matchType" ng-enter="addLocation()">
            <option value="prefix">prefix</option>
            <option value="regex">regex</option>
            <option value="common">common</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">路径/正则表达式</label>
        <div class="controls">
          <input ng-model="locationToBeAdd.pattern" ng-enter="addLocation()" type="text" class="input" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <label class="checkbox inline"> <input ng-model="locationToBeAdd.caseSensitive" type="checkbox">
            大小写敏感
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="addLocation()" class="btn btn-primary">确定</button>
    <button type="button" data-dismiss="modal" class="btn">取消</button>
  </div>
</div>

<!-- 确认对话框 -->
<div aria-hidden="true" data-backdrop="true" role="dialog" tabindex="-1" class="modal hide"
  id="affirmRemoveLocationModal">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h3>确认操作</h3>
  </div>
  <div class="modal-body">
    <p style="text-align: center;">
      <i class="icon-warning-sign"></i> 您是否确定要删除该规则（路径/正则表达式为
      <code>{{locationToBeRemove.pattern}}</code>）
      ？
    </p>
  </div>
  <div class="modal-footer">
    <button ng-click="removeLocation();" class="btn btn-primary">确定</button>
    <button data-dismiss="modal" class="btn">取消</button>
  </div>
</div>
